.hideIntro {
  display: none;
}

.introBackground {
  position: fixed;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-color: black;
  /* background-image: url(/introImg/intro-1.jpeg);
  background-position: center center;
  background-size: cover; */
}

.introImg1 {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1500ms ease 0s;
  background-image: url(/introImg/intro-1.jpeg);
}

.introImg2 {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1500ms ease 0s;
  background-image: url(/introImg/intro-2.jpeg);
  /* background-position: 75% 50%; */
}

.introImg3 {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1500ms ease 0s;
  background-image: url(/introImg/intro-3.jpeg);
}

.activeImg {
  opacity: 1;
}

/* Intro Dialogs */

.introDialogs {
  width: fit-content;
  background-color: transparent;
  margin: 0px auto;
}

.dialogContainer {
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.dialog {
  width: 360px;
  height: 360px;
  background-position: center center;
  background-size: contain;
  background-image: url(/introImg/dialog.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  line-height: 0.3rem;
  font-size: 1.1rem;
}

.dialogContainerLast {
  color: transparent;
}
