.introContainer {
  /* display: none; */
}

.introBackground {
  position: fixed;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-color: black;
}

.introImg {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
  overflow-x: hidden;
  height: 100vh;
  width: auto;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  transition: opacity 1500ms ease 0s;
}

.imgContainer {
  height: 100vh;
  width: auto;
}
